<head>
    <title>
      <%= title %>
    </title>
    <link href="./tailwind/output.css" rel="stylesheet">
  </head>
<body class="bg-sky-200">
  <h1 class="text-3xl text-red-800 font-sans"><%= message %></h1>
</body>
